.row{
  padding: 10px;
  text-align: center;
}
.title{
  text-align: center;
}

.label{
  text-align: left;
  padding: 10px;
}

.dropdown{

  padding: 10px;
}

.flex{
  display: flex;
  justify-content: left;
  padding: 10px;
}