.login-form{
  
}

.Lbody{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.LLabel{
  margin: 5px;
}

.LInput{
  margin: 5px;

}

.button-color .p-button-label{
  color:red
}